.invoiceNumber {
  background: #fafafa 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 4%;
  width: 68%;
  padding: 5%;
  float: right;
}
.invoiceNumber p {
  text-align: right;
  font: normal normal normal 17px/12px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.invoiceNumber span {
  margin-left: 4%;
}
.billingto .col-sm-12 {
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .invoiceNumber {
    width: 75%;
  }
}
@media (max-width: 1100px) {
  .invoiceNumber {
    width: 85%;
  }
}
@media (max-width: 992px) {
  .invoiceNumber {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .invoiceNumber {
    width: 80%;
  }   

}
@media (max-width: 600px) {
  .invoiceNumber p {
    font: normal normal normal 17px/12px Lato;
  }
}
@media (max-width: 575px) {
  .invoiceNumber {
    width: 80%;
    margin: 0% 13%;
  }   
}
@media (max-width: 400px){
.invoiceNumber {
    width: 100%;
    margin: 2% 0%;
}
.invoiceNumber p {
  font: normal normal normal 16px/12px Lato;
}
}
@media (max-width: 291px){
.invoiceNumber p {
    font: normal normal normal 13px/5px Lato;
}
}