.invoiceHeader {
  padding: 4%;
}
.invoiceHeader p {
  font: normal normal 400 19px/20px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
  margin-bottom: 3%;
}
.invoiceHeader span {
  font: normal normal 400 15px/0px Lato;
  letter-spacing: 0px;
  color: #0078d4;
}
.invoiceHeader .logo {
  background: #e2e2e2 0% 0% no-repeat padding-box;
  border-radius: 5px;
  width: 110px;
  height: 50px;
  margin-left: auto;
}
@media (max-width: 600px) {
  .invoiceHeader p {
    font: normal normal 400 18px/20px Lato;
  }
  .invoiceHeader span {
    font: normal normal 400 14px/0px Lato;
  }
  .invoiceHeader .logo {
    width: 100px;
    height: 34px;
  }
}
