.checkout{
        background: url("../../assets/images/background.png") no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: top right;
        padding-top: 8%;
}