.invoiceNavbar {
  background: #f1f3f4 0% 0% no-repeat padding-box;
  border-radius: 5px 5px 0px 0px;
  padding: 1% 1%;
}
.invoiceNavbar .logo {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #70707085;
  border-radius: 5px;
  width: 115px;
  height: 50px;
}
@media (max-width: 600px) {
  .invoiceNavbar .logo {
    width: 100px;
    height: 43px;
  }
}
@media (max-width: 415px) {
  .invoiceNavbar .logo {
    width: 88px;
    height: 38px;
  }
  .invoiceNavbar {
    padding: 2% 2%;
  }
}
