.billingTo h5 {
  font: normal normal bold 18px/20px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.billingTo p {
  font: normal normal normal 16px/20px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
@media (max-width: 600px) {
  .billingTo h5 {
    font: normal normal bold 17px/20px Lato;
  }
  .billingTo p {
    font: normal normal normal 15px/20px Lato;
  }
}
@media (max-width: 291px) {
  .billingTo h5 {
    font: normal normal bold 16px/20px Lato;
  }
  .billingTo p {
    font: normal normal normal 14px/20px Lato;
  }
}