.invoice {
  background: url("../../assets/images/background.png") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top right;
}
.invoice .invoiceContent {
  margin-top: 3%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #00000029;
  border-radius: 5px;
  padding: 0;
}
.invoice .invoiceBody {
  margin: 3% 7%;
}
@media (max-width: 1300px) {
  .invoice .invoiceContent {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .invoice .invoiceContent {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .invoice .invoiceContent {
    width: 90%;
  }
}
