.invoiceTable {
  width: 100%;
}
.invoiceTable .headBorder div {
  font: normal normal 400 17px/29px Lato;
  letter-spacing: 0px;
  color: #888888;
  margin-bottom: 0.5%;
}
.invoiceTable .headBorder {
  border-bottom: 1px solid #00000029;
}

.invoiceTable .row {
  margin-left: 0;
}
.invoiceTable .row {
  margin-top: 1%;
}
.invoiceTable .car h5 {
  font: normal normal 400 18px/24px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.invoiceTable .car a {
  height: 16px;
  width: 16px;
  margin-left: 1%;
  margin-top: 1%;
}
.invoiceTable .car a svg {
  position: absolute;
}
.invoiceTable .fromTo {
  font: normal normal normal 14px/19px Lato;
  letter-spacing: 0px;
  color: #888888;
}
.invoiceTable .fromTo svg {
  margin: 0 1%;
}
.invoiceTable .service {
  font: normal normal 400 17px/23px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.invoiceTable .col-md-4 svg {
  margin-left: 1%;
  cursor: pointer;
  position: absolute;
}

.invoiceTable .has-tooltip {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 1%;
  margin-bottom: -1%;
  cursor: pointer;
}
.invoiceTable .has-tooltip .tooltip {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
  -moz-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
  -o-transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
  transition: visibility 0s ease 0.5s, opacity 0.3s ease-in;
}
.invoiceTable .has-tooltip:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

/* Tooltip Body */
.invoiceTable .tooltip {
  bottom: 112%;
  width: 190px;
  left: 77%;
  padding: 10px;
  position: absolute;
  text-decoration: none;
  font: normal normal normal 12px/19px Lato !important;
  color: #ffffff;
  height: auto;
  background: #1c1c26 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #0000004d;
  border-radius: 7px;
}
.invoiceTable .price {
  font: normal normal 400 17px/24px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.invoiceTable .border {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}
.invoiceTable .subtotal,
.invoiceTable .subtotalPrice,
.invoiceTable .fees,
.invoiceTable .feesPrice {
  font: normal normal 400 19px/10px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}

.invoiceTable .total,
.invoiceTable .totalPrice {
  font: normal normal 500 21px/39px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.invoiceTable .subtotal,
.invoiceTable .fees,
.invoiceTable .total {
  text-align: right;
  margin-right: 58%;
}
.invoiceTable .row div[name="fees"] {
  border-bottom: 1px solid #dee2e6 !important;
}
.invoiceTable button {
  background: transparent linear-gradient(257deg, #4498d8 0%, #0078d4 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 2px 2px #00000029;
  border-radius: 5px;
  width: 130px;
  height: 41px;
  font: normal normal 400 17px/29px Lato;
  letter-spacing: 0px;
  color: #ffffff;
  border: 0;
}
@media (max-width: 992px) {
  .invoiceTable .car h5 {
    width: 46%;
  }
  .invoiceTable a {
    margin-left: 0%;
    margin-top: 2%;
  }
}
@media (max-width: 767px) {
  .invoiceTable h5 {
    width: auto;
  }
  .invoiceTable a {
    margin-left: 1%;
    margin-top: 1%;
  }
  .invoiceTable .headBorder {
    border-bottom: 0;
  }
  .invoiceTable .price {
    text-align: right;
    margin-left: -4%;
  }

  .invoiceTable .row {
    margin-top: 3%;
  }
  .invoiceTable .car,
  .invoiceTable tr {
    border-bottom: 1px solid #00000014;
    margin: 3% 0;
  }
  .invoiceTable .servie,
  .invoiceTable .price {
    margin: 2% 0 0;
  }
  .invoiceTable .subtotal,
  .invoiceTable .fees,
  .invoiceTable .total {
    text-align: left;
    margin-right: 0%;
  }
  .invoiceTable .subtotalPrice,
  .invoiceTable .feesPrice,
  .invoiceTable .totalPrice {
    text-align: right;
  }
  .invoiceTable button {
    width: 100%;
  }
  .invoiceTable .border {
    padding-bottom: 3%;
  }
}
@media (max-width: 600px) {
  .invoiceTable .car h5 {
    font: normal normal 400 17px/24px Lato;
  }
  .invoiceTable .car a {
    margin-left: 0%;
  }
  .invoiceTable .service,
  .invoiceTable .price {
    font: normal normal 400 16px/23px Lato;
  }
  .invoiceTable .col-md-4 svg {
    width: 13px;
  }
  .invoiceTable .subtotal,
  .invoiceTable .subtotalPrice,
  .invoiceTable .fees,
  .invoiceTable .feesPrice {
    font: normal normal 400 18px/10px Lato;
  }
  .invoiceTable .total,
  .invoiceTable .totalPrice {
    font: normal normal 400 20px/39px Lato;
  }
  .invoiceTable button {
    font: normal normal 400 16px/29px Lato;
  }
}

@media (max-width: 426px) {
  .invoiceTable .car h5 {
    width: 65%;
  }
  .invoiceTable {
    overflow: hidden;
  }
  .invoiceTable .car a {
    margin-top: 1.7%;
  }
  .invoiceTable .tooltip {
    margin-left: -400%;
    width: 160px;
  }
  .invoiceTable .col-md-4 svg {
    margin-top: 2px;
  }
  .invoiceTable .subtotal,
  .invoiceTable .subtotalPrice,
  .invoiceTable .fees,
  .invoiceTable .feesPrice {
    font: normal normal 400 17px/10px Lato;
  }
  .invoiceTable .total,
  .invoiceTable .totalPrice {
    font: normal normal 600 18px/39px Lato;
  }
}

@media (max-width: 314px) {
  .invoiceTable h5 {
    width: 80%;
  }
  .invoiceTable .service,
  .invoiceTable .price {
    font: normal normal 400 13px/23px Lato;
  }
  .invoiceTable .col-md-4 svg {
    width: 11px;
  }
  .invoiceTable .car a {
    margin-top: 2.6%;
  }
  .invoiceTable .tooltip {
    width: 140px;
  }
}

@media (max-width: 270px) {
  .invoiceTable h5 {
    width: 80%;
  }
  .invoiceTable .service,
  .invoiceTable .price {
    font: normal normal 400 10px/23px Lato;
  }
  .invoiceTable .col-md-4 svg {
    width: 10px;
  }
  .invoiceTable .subtotal,
  .invoiceTable .subtotalPrice,
  .invoiceTable .fees,
  .invoiceTable .feesPrice {
    font: normal normal 400 15px/10px Lato;
  }
  .invoiceTable .total,
  .invoiceTable .totalPrice {
    font: normal normal 600 15px/39px Lato;
  }
}
