.invoiceFooter {
    background: #f1f3f4 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 5px 5px;
    opacity: 1;
    padding: 2% 0% 0.5% 0%;
    margin-top: 3%;
  }
  .invoiceFooter p {
    text-align: left;
    font: normal normal 500 13px/15px Lato;
    letter-spacing: 0px;
    color: #888888;
    position: relative;
    width: 89%;
  }
  @media (max-width: 768px) {
    .invoiceFooter p {
      font: normal normal 500 13px/18px Lato;
    }
    .invoiceFooter {
      padding: 3% 0% 0.1% 0%;
    }
  }
  @media (max-width: 425px) {
    .invoiceFooter p {
      font: normal normal 500 13px/18px Lato;
    }
    .invoiceFooter {
      padding: 6% 0% 0.01% 0%;
    }
  }
  